
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@900&display=swap');

body {
  min-height: 1vh;
  font-family:Onest;
}
#page1{
  display:flex;
  justify-content: center;
  align-items: center;
}

#par{
  display:flex;
  justify-content: center;
  align-items: center;
}

#hero{
  display:flex;
  align-items:center;
  align-content:center;
  height:80vh;
  font-size: 110px;
  font-weight:900;
  display:inline;
  text-align:center;
  /*background-image:linear-gradient(0.75turn, #3f87a6, #ebf8e1, #f69d3c); */
  background-image:linear-gradient(90deg, #61f29a, #9a61f2 , #f261b9);
  background-clip:text;
  -webkit-background-clip: text;
  color: transparent;

}


h1{
  font-size: 110px;
  font-weight:900;
  text-align:center;
  /*background-image:linear-gradient(0.75turn, #3f87a6, #ebf8e1, #f69d3c); */
  background-image:linear-gradient(90deg, #61f29a, #9a61f2 , #f261b9);
  background-clip:text;
  -webkit-background-clip: text;
  color: transparent;
  will-change: filter;
  transition: filter 1300ms;
}



h1:hover {filter: drop-shadow(10px 10px 10px #646cffaa);
  }
  
#overlay_hero {
   filter: drop-shadow(20px 20px 20px #646cffaa);
   transition: filter 4000ms;
}

#shine:hover {
  
  filter: drop-shadow(0 0 2em #646cffaa);
  
}


/*
.loader-container1 {
  margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index:1001;
    width:350px;
}

.progress-bar1 {
    width: 60%;
    max-width: 500px;
    height: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    z-index:1001;
    
}

.progress1 {
    width: 0;
    height: 100%;
    background-color: rgb(122,236,244);
    animation: fill1 2s ease 3s 1 forwards;
    z-index:1001;
}

@keyframes fill1 {
    0% {
        width: 0;
    }
    90% {
        width: 100%;
    }
    100%{
      border-width: 1px;
      border-color:white;
      width: 100%;
    }
    }

*/
